
/* HEADER */

#logo{
    width: 80px;
    display: inline-block;
    vertical-align: top;
}


#title_box{
    display: inline-block;
}

#app_title{
    font: "Verdana";
    font-size: 30px;
    letter-spacing: 4px;
    background: rgb(4, 109, 122);
    color: white;
    text-align: center;
}

#app_description{
    font: "Impact";
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: -15px; 
}

/* CONTENT */

#search_box{
    border: solid silver 1px;
    padding: 5px;
    margin: 1px;
    box-shadow: 0px 0px 3px black;
}

#search_results{
    height: 500px;
    border: solid silver 1px;
    padding: 5px;
    margin: 10px 1px;
    box-shadow: 0px 0px 3px black;
}

.film_box{
    border: solid rgb(212, 211, 211) 1px;
    padding: 10px;
    margin: 8px 2px;
}

