
/* HEADER */

#logo{
    width: 80px;
    display: inline-block;
    vertical-align: top;
}


#title_box{
    display: inline-block;
}

#app_title{
    font: "Verdana";
    font-size: 30px;
    letter-spacing: 4px;
    background: rgb(4, 109, 122);
    color: white;
    text-align: center;
}

/* CONTENT */

#search_results{
    height: 500px;
    border: solid black 2px;
    padding: 5px;
    margin: 5px 1px;
}